@model Test.Models.DB.Tbsale

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sales</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Guidsales">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
